.container {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh 90vh;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar header"
      "sidebar article";
  }
  
  .sidebar { grid-area: sidebar; }
  
  .header { grid-area: header; }
  
  .container-agencia { grid-area: article; }

  html , body {
      overflow-y: hidden;
  }

  
