@import '../fonts/fonts.css';

/*Definicion de variables*/
:root{
    --color-white: #FFFFFF;
    --color-primary: #478DCB;
    --color-neutral: #494B4D; 
}

/* Fin de definicion de variables*/

/*Definicion de areas para armar la grilla base de la estructura*/

.container-grid {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 10vh 90vh;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar header"
      "sidebar article";
  }
  
  .sidebar { grid-area: sidebar; }
  
  .header { grid-area: header; }
  
  .container-article { grid-area: article; }

  .container-agencia { grid-area: article; }

/*fin de Definicion de areas para armar la grilla base de la estructura*/



/*Estilos del home del directorio*/

.contenedorPrincipal{
   max-width: 100%;
}


.headerFasecolda{
    position: fixed;
    width: 100vw;
    top: 0;
    background: linear-gradient(175.01deg, #1EA1AA 0%, #367AA9 100%);   
}

.headerFasecolda__list{
    display: flex;
    gap: 1rem;
    place-content: center;
    list-style: none;
}

.headerFasecolda__listElement{
    text-decoration: none;
    color: var(--color-white);
}

.bannerDirectorio{
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
}

.bannerDirectorio__imagen{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bannerDirectorio__info{
    position: relative;
    margin-left: 14%;
    padding-bottom: 1rem;
}

.bannerDirectorio__titulo {
    font-family: Asap;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    line-height: 56px;
    color: var(--color-white);
}

.bannerDirectorio__parrafo{
    font-family: Asap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.011em;
    color: var(--color-white);
    padding: 1rem 0;
}

.bannerDirectorio__boton {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: var(--color-primary);
    width: 135px;
    height: 44px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: var(--color-white);
    box-shadow: 0px 2px 4px 0px #00000014;
    cursor: pointer;
}

.categorias{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: -3rem;
    position: relative;
    margin-bottom: 4rem;
    background-color: var(--color-white);
}


.categorias__titulo, .aliados__titulo{
    font-family: Asap;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.022em;
    text-align: center;
    color: var(--color-neutral);
    padding: 4rem 0;
    margin: 0;
}


.categorias__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5rem;
    margin-block-end: 0;
    justify-items: center;
}

.categorias__gridElemento{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: none;
}

.paquetes{
    height: 45%; 
}

.paquetes{
    background-color: #E5F4FE;
}

.paquetes__info {
    margin-left: 8rem;
}

.paquetes__contenedor{
    display: flex;
    width: 80%;
    padding: 2rem;
}

.paquetes__infoTitulo{
    font-family: Asap;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.022em;
    text-align: left;
    color: var(--color-neutral);
}

.paquetes__infoParrafo{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.011em;
    text-align: left;
    color: var(--color-neutral);
    width: 85%;
    margin-bottom: 2rem;

}

.paquetes__infoBoton{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: center;
    height: 44px;
    width: 131px;
    left: 221px;
    top: 1262px;
    border: 0;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 2px 4px 0px #00000014;   
}

.aliados{
    margin: 4rem 0; 
}

.aliados__carousel{
    display: flex;
    gap: 5rem;
    place-content: center;
    height: 2.5rem;
    margin: 4rem 0;
    overflow-x: hidden;
}

.aliados__imagen{
    max-width: 100%;
}

.aliados__botonPauta {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    height: 44px;
    width: 115px;
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    color: var(--color-white);
    background: var(--color-primary);
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 8%);
    display: block;
    margin: 0 auto;
}

/*Se usa el enfoque desktop first debido a la ausencia de diseños en mobile*/

@media (max-width: 1024px) {
    .categorias__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .paquetes__contenedor{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .paquetes__infoTitulo{
        text-align: center;
    }

}

/*Fin de estilos del home del directorio*/



/*Inicio de estilos de la página de Paquetes*/

.block-paquetes{
    position: relative;
}

.title-banner{
    position: absolute;
    top: 25%;
    left: 8%;
    width: 30%;
    color:#FFFFFF;

}

.contenido-descripcion{
    width: 50%;
    margin-left: 10rem;
}

.titulo-paquetes{
    color: #58C3F0;
}

.parrafo-paquetes, .lista-beneficios {
    width: 70%;
}

.lista-beneficios{
    padding-left: 1rem;
}

.lista-beneficios{
    list-style-image: url(/assets/img/check-vineta.svg) ;
}

.card-paquetes {
    position: absolute;
    top: 12%;
    right: 7rem;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px #00000014;
    width: 35rem;
    height: 45rem;
    border-radius: 8px;
}

.encabezado-paquete {
    width: 90%;
    margin: 2rem auto;
}

.grid-paquetes{
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 0.5rem;
}

.card{ 
    display: flex;
    align-items: center;
    height: 3.5rem;
    border-radius: 8px;
    background-color: var(--color-primary);
}

.id-paquete{
    width: 4rem;
    text-align: center;
    color: #FFFFFF;
}

.plan-cantidad{
    width: 80%;
    text-align: center;
    color: #FFFFFF;   
}

.plan-precio{
    width: 40%;
    color: #FFFFFF;
}

.metodos-pago{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 12rem;
    margin: 0 auto;
}

.tarjeta-credito, .transferencia-bancaria {
    display: grid;
    align-items: center;
    text-align: center;
    border: 1px solid #ECEFF3;
}

.label-paquete{
    background-color: var(--color-primary);
    border-radius: 8px;
}

.radio{ 
    width: 24px;
}


/*Fin de estilos de la página de paquetes*/





/*Estilos del sitio*/

.lateral-directorio {
    height: 100vh;
    padding: 1rem;
    background: linear-gradient(175.01deg, #1EA1AA 0%, #367AA9 100%);
}

.header{
    display: flex;
    height: 4rem;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}


.header-elements-paquetes{
    display: flex;
    align-items: center;
}

.header-paquetes #logo{
    margin-top: 0;
    margin-left: 0;
}

.header-elements a, .header-elements-paquetes a{
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #58C3F0;
    letter-spacing: -0.006em;
}

.header-elements-paquetes a{
    color: #FFFFFF;
}


.header-elements a:first-child, .header-elements-paquetes a:first-child{
    margin-left: 2rem;
}

#btn-ingresar{
    width: 5rem;
    padding: 10px;
    margin-right: 1rem;
    background-color: #58C3F0;
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-style: none;
}

#logo {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.logo-aside-cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flecha-logo{
    margin-top: 1.5rem;
}

#category-list{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.element-category, .element-legales{
    display: block;
    color: #FFFFFF;
    margin-bottom: 1rem;
    letter-spacing: -0.006em;
    text-decoration: none;
}

.element-category, .element-legales:hover{
    cursor: pointer;
}

#title-category{
    margin-top: 3rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

#categories a{
    color: #FFFFFF;
}

#legales-aside{
    margin-top: 3rem;
    margin-left: 1rem;
}

.container-article{
    padding: 2rem;
    background-color: #E5E5E5;
}

.titulo-section{
    color: #367AA9;
    margin-bottom: 2rem; 
}

.parrafo-section {
    color: #2C2D2E;
    margin-bottom: 2rem;
}

.grid-aseguradoras{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 1rem;
    height: 45rem;
    overflow-y: scroll;
}

.grid-aseguradoras::-webkit-scrollbar{
    display: none;
}


.card-aseguradora {
    display: flex;
    flex-direction: column;
    width: 269px;
    height: 269px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;

}

.card-aseguradora p {
    margin-top: 1.5rem;
}


/*Estilos de agencia*/

.container-agencia{
    display: flex;
    padding: 2rem;
    background-color: #E5E5E5;
}

.info-agencia { 
    width: 60%;
}

.card-info-agencia{
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 8px 0 0 8px;

}

.grid-ejecutivos { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    height: 25rem;
    overflow-y: scroll;
    margin-right: 0.5rem;
}

.grid-ejecutivos::-webkit-scrollbar{
    display: none;
}

.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ECEFF3;
}

.agencia-cabecera{
   display: flex;
   margin-left: 1rem;
}

.agencia-cabecera img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.redes-sociales {
    margin-right: 1rem;
}

.redes-sociales a {
    margin-right: 0.5rem;
}

.agencia-cuerpo{ 
    margin-left: 1rem;
    margin-right: 1rem;
}

.direccion-agencia{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ubication-description{
    width: 40%;
}

.direccion-agencia img {
    margin-right: 0.5rem;
}

.info-nit{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.info-nit img {
    margin-top: 0.2rem;
}

.info-nit, .horario-atencion-agencia, .lineas-atencion{
    margin-top: 1rem;
}

.nit-primario, .nit-secundario{
    width: 40%;
}

.cabecera-horario, .cabecera-lineas-atencion{
    display: flex;
}
.cabecera-horario img, .cabecera-lineas-atencion img {
    margin-right: 0.5rem;
}

.info-atencion{
    display: flex;
}

.dias-atencion, .horarios-atencion{
    width: 40%;
}

.card-ejecutivo {
    display: flex;
}

.card-ejecutivo::before{
    content: url(/assets/img/ejecutivos-icon-list.svg);
    margin-right: 0.3rem;
}

.info-ejecutivo{
    width: 95%;
}

.logo-agencia {
    width: 320px;
}

.titulo-agencia, .titulo-ejecutivo{
    color: #58C3F0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.ramos-autorizados-agencia{
    color: #6D7074;
}

.descripcion-agencia{
    width: 80%;
}



.cargo-ejecutivo, .nombre-ejecutivo, .email-ejecutivo, .telefono-ejecutivo{
    margin-bottom: 0;
}

.correo-ejecutivo{
    color: #58C3F0;
}

/*Estilos de card info agencia lateral*/

.title-cabecera{
    color: #367AA9;
}

.nit-primario-description, .nit-secundario-description, 
.lineas-detalle {
    width: 80%;
}

.titulo-info-seccion{
    color: #58C3F0;
}

.lineas-detalle{
   height: 25rem;
   overflow-y: scroll;
}


.lineas-detalle::-webkit-scrollbar{
    display: none;
}


.wrapper { 
    position: relative;
    height: 100vh;
}

.footer-paquetes{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 2rem;
    background-color: #F2F2F2;
    bottom: 0;
}

.legales-footer a , .derechos a {
    margin-right: 2rem;
    text-decoration: none;
    color: #6D7074;
}

.derechos a {
    margin-right: 3rem;
}

/* .radio:checked + .plan-cantidad{
    border: 1px solid red;
} */

/* .card > .radio:checked{
    border: 1px solid red;
} */